/* Estilos para el cuerpo del documento */
body {
    background: url(../imagenes/fondo.jpg);
    justify-content: center;
}

/* Estilos para los hipervínculos */
a {
    text-decoration: none;
    color: #F6D155;
}

/* Subrallado si cursor encima del índice */
a:hover {
    text-decoration: underline;
}

/* Estilos para la cabecera de la página */
header {
    padding-bottom: 20px;
    color: white;
    background-color: #223A5E;
    border-bottom: 5px solid gray;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header h1 {
    color: white;

}

/* Primera letra del header de mayor tamaño */
header::first-letter {
    font-size: 1.5em;
}

/* Estructura grid formato movil */
#contenedor {
    display: grid;
    grid-template-areas:
        "header"
        "indice"
        "caja1"
        "caja2"
        "caja3"
        "caja4"
        "footer"
    ;
}

/* Asignar valores para grid. */
#titulo {
    grid-area: header;
}

#caja1 {
    grid-area: caja1;
}

#caja2 {
    grid-area: caja2;
}

#caja3 {
    grid-area: caja3;
}

#caja4 {
    grid-area: caja4;
}



/* Estilos para el panel izquierdo de navegación */
#nav {
    grid-area: indice;
    background-color: #223A5E;
    color: white;
    margin: 2em 0 2em 0;
}

nav h3 {
    color: white;
    text-align: center;
}

/* Estilos para el artículo principal de la página */

h1 {
    color: brown;
    border-bottom: 1px solid brown;
}

h3 {
    color: brown;
    font-style: italic;
}


.p1 {
    text-align: center;
    font-style: italic;
}


/* Estilos para las tablas */
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;

}

table {
    border-collapse: collapse;
}

table td,
table th {
    text-align: center;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.308);
    padding: 10px;
}

table .tr1:first-child {
    color: white;
    background-color: #223A5E;
}

table tr:nth-child(odd) {
    background-color: #D49F75;
}

table tr:nth-child(even) {
    background-color: #C48F65;
}


/* Estilos para las imágenes */
#fotos {
    display: flex;
    justify-content: space-around;
}

figure {
    text-align: center;
}

#fotos img {
    max-width: 100%;
}

img {
    border: 3px solid gray;
}

figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
}

/* Estilo para el footer */
footer {
    grid-area: footer;
    border-top: 5px solid gray;
    padding: 1em 0 1em 0;
    text-align: center;
    background-color: #223A5E;
    color: white;
}

/* Estilo para pantallas de tamaño completo */

@media screen and (min-width: 768px) {
    #contenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "header header header header"
            "indice caja1 caja1 sidebar"
            "sidebar1 caja2 caja2 sidebar"
            "sidebar1 caja3 caja3 sidebar"
            "sidebar1 caja4 caja4 sidebar"
            "footer footer footer footer";
    }

    /* Esto en concreto lo he necesitado para que tenga buena estructuración el grid
    Si elimino derecha e izquierda no implica cambio, aunque me genera dudas*/
    #derecha {
        grid-area: sidebar;
    }

    #izquierda {
        grid-area: sidebar1;
    }

    #nav {
        width: 17vw;
        height: fit-content;
    }
}
